@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");
/*----- VARIABLES CSS -----*/
/*Varibles en general*/
/*Colores*/
/* line 6, ../../Documents/tribute-page/scss/styles.scss */
:root {
  --first-color: #010A43;
  --second-color: #FFC2C2;
  --white-color: #fff;
}

/*Fuente y Tipografia*/
/* line 12, ../../Documents/tribute-page/scss/styles.scss */
:root {
  --body-font: 'Tinos', serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  /* line 12, ../../Documents/tribute-page/scss/styles.scss */
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
}

/*z index*/
/* line 29, ../../Documents/tribute-page/scss/styles.scss */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
/* line 37, ../../Documents/tribute-page/scss/styles.scss */
*, ::before, ::after {
  box-sizing: border-box;
}

/* line 40, ../../Documents/tribute-page/scss/styles.scss */
body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  overflow: hidden;
}

/* line 46, ../../Documents/tribute-page/scss/styles.scss */
h1, h2 {
  margin: 0;
  font-weight: initial;
}

/* line 50, ../../Documents/tribute-page/scss/styles.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 55, ../../Documents/tribute-page/scss/styles.scss */
a {
  text-decoration: none;
}

/* line 58, ../../Documents/tribute-page/scss/styles.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 62, ../../Documents/tribute-page/scss/styles.scss */
p {
  font-size: var(--normal-font-size);
}

/*----- LAYOUT -----*/
/* line 66, ../../Documents/tribute-page/scss/styles.scss */
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 71, ../../Documents/tribute-page/scss/styles.scss */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  color: var(--white-color);
  z-index: var(--z-fixed);
}

/*----- PAGES -----*/
/*Nav*/
/* line 82, ../../Documents/tribute-page/scss/styles.scss */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  /* line 89, ../../Documents/tribute-page/scss/styles.scss */
  .nav__menu {
    position: fixed;
    top: 3rem;
    left: -100%;
    background-color: rgba(1, 10, 67, 0.8);
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    z-index: var(--z-fixed);
    transition: .5s;
  }
}

/* line 103, ../../Documents/tribute-page/scss/styles.scss */
.nav__list {
  text-align: center;
}

/* line 106, ../../Documents/tribute-page/scss/styles.scss */
.nav__item {
  margin-bottom: 2rem;
}

/* line 109, ../../Documents/tribute-page/scss/styles.scss */
.nav__link {
  padding: .5rem;
  color: var(--white-color);
}

/* line 113, ../../Documents/tribute-page/scss/styles.scss */
.nav__logo {
  color: var(--white-color);
}

/* line 116, ../../Documents/tribute-page/scss/styles.scss */
.nav__toggle {
  font-size: 2rem;
  cursor: pointer;
}

/* line 120, ../../Documents/tribute-page/scss/styles.scss */
.nav__icon-cart {
  font-size: 1.3rem;
  text-align: right;
}

/*Aparecer menu*/
/* line 126, ../../Documents/tribute-page/scss/styles.scss */
.show {
  left: 0;
}

/* line 131, ../../Documents/tribute-page/scss/styles.scss */
.home {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: calc(100vh - 3rem);
}

/* line 137, ../../Documents/tribute-page/scss/styles.scss */
.home__primary {
  width: 0;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 147, ../../Documents/tribute-page/scss/styles.scss */
.home__title {
  font-size: var(--h1-font-size);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--white-color);
}

/* line 154, ../../Documents/tribute-page/scss/styles.scss */
.home__img {
  width: 235px;
  height: auto;
}

/* line 159, ../../Documents/tribute-page/scss/styles.scss */
.home__secondary {
  width: 0;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* line 168, ../../Documents/tribute-page/scss/styles.scss */
.home__scroll {
  position: absolute;
  left: 0;
  bottom: 15%;
  font-size: var(--smaller-font-size);
  transform: rotate(270deg);
  color: var(--first-color);
}

/* line 176, ../../Documents/tribute-page/scss/styles.scss */
.home__scroll::after {
  content: "";
  position: absolute;
  top: 45%;
  left: -10%;
  width: 38px;
  height: 1px;
  background-color: var(--first-color);
  margin-left: -2.5rem;
}

/* line 188, ../../Documents/tribute-page/scss/styles.scss */
.home__year {
  font-size: var(--big-font-size);
  -webkit-text-stroke: 2.3px var(--first-color);
  color: transparent;
}

@media screen and (min-width: 768px) {
  /* line 198, ../../Documents/tribute-page/scss/styles.scss */
  body {
    margin: 0;
  }
  /* line 202, ../../Documents/tribute-page/scss/styles.scss */
  .l-header {
    background-color: transparent;
  }
  /* line 206, ../../Documents/tribute-page/scss/styles.scss */
  .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
  }
  /* line 210, ../../Documents/tribute-page/scss/styles.scss */
  .nav__list {
    display: flex;
  }
  /* line 214, ../../Documents/tribute-page/scss/styles.scss */
  .nav__items {
    margin-right: 5rem;
    margin-bottom: 0;
  }
  /* line 218, ../../Documents/tribute-page/scss/styles.scss */
  .nav__toggle {
    display: none;
  }
  /* line 223, ../../Documents/tribute-page/scss/styles.scss */
  .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }
  /* line 228, ../../Documents/tribute-page/scss/styles.scss */
  .home__primary {
    justify-content: center;
  }
  /* line 232, ../../Documents/tribute-page/scss/styles.scss */
  .home__img img {
    position: absolute;
    width: 361px;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: var(--z-normal);
  }
  /* line 243, ../../Documents/tribute-page/scss/styles.scss */
  .home__scroll {
    color: var(--white-color);
  }
  /* line 245, ../../Documents/tribute-page/scss/styles.scss */
  .home__scroll::after {
    background-color: var(--white-color);
  }
  /* line 250, ../../Documents/tribute-page/scss/styles.scss */
  .home__year {
    writing-mode: vertical-rl;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 258, ../../Documents/tribute-page/scss/styles.scss */
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=styles.css.map */